<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Posted on: {{ post.date_posted }}</p>

    <a href="{% url 'post_edit' id=post.pk %}">Edit Post</a>
    <a href="{% url 'post_delete' id=post.pk %}">Delete Post</a>

    <h2>Комментарии:</h2>
    <ul>
        {% for comment in post.comment_set.all %}
            <li>
                {{ comment.author }}: {{ comment.content }}
                <a href="{% url 'comment_edit' id=comment.pk %}">Редактировать</a>
                <a href="{% url 'comment_delete' id=comment.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Добавить комментарий:</h2>
    <form method="POST" action="{% url 'comment_new' post.pk %}">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Добавить</button>
    </form>
</body>
</html>

